.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: auto;
  margin-top: 20px;
  width: 280px;
  color: white;
  border: solid 1px #000000;
  border-radius: 10px;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1s ease;
}

.container:hover {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.4s ease;
}
