.busqueda{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
  font-family: sans-serif;
  border-radius: 5px;
  justify-content: flex-end;
  margin: 1.2em;
}

.busqueda:hover {
  color: #212529;
  text-decoration: none;
}

.input{
  justify-content: space-around;
  border-radius: 10px;
}

.enNavi{
  float: right;
}
